In [1]:
import pandas as pd
import numpy as np

In [3]:
# how to create multiindex series
index_val = [('cse',2019),('cse',2020),('cse',2021),('cse',2022),('ece',2019),('ece',2020),('ece',2021),('ece',2022)]
multiindex = pd.MultiIndex.from_tuples(index_val)
multiindex

MultiIndex([('cse', 2019),
            ('cse', 2020),
            ('cse', 2021),
            ('cse', 2022),
            ('ece', 2019),
            ('ece', 2020),
            ('ece', 2021),
            ('ece', 2022)],
           )

In [4]:
pd.MultiIndex.from_product([['cse','ece'],[2019,2020,2021,2022]])

MultiIndex([('cse', 2019),
            ('cse', 2020),
            ('cse', 2021),
            ('cse', 2022),
            ('ece', 2019),
            ('ece', 2020),
            ('ece', 2021),
            ('ece', 2022)],
           )

In [5]:
multiindex.levels

FrozenList([['cse', 'ece'], [2019, 2020, 2021, 2022]])

In [7]:
s =pd.Series([1,2,3,4,5,6,7,8],index=multiindex)

In [9]:
#how to fetch an item from an multiindex sereies
s['cse']

2019    1
2020    2
2021    3
2022    4
dtype: int64

In [ ]:
#unstack : converting a multiindex series in a dataframe
s.unstack()

     2019  2020  2021  2022
cse     1     2     3     4
ece     5     6     7     8

In [19]:
#multiindexDataframes
branch_df1 = pd.DataFrame([
    [1,2],[3,4],[5,6],[7,8],[9,10],[11,12],[13,14],[15,16],],index=multiindex,columns=['avg_package','students']
)

In [21]:
branch_df2 = pd.DataFrame(
    [
        [1,2,0,0],
        [3,4,0,0],
        [5,6,0,0],
        [7,8,0,0],
    ],
    index=[2019,2020,2021,2022],
    columns=pd.MultiIndex.from_product([['Delhi','Mumbai'],['package','student']])
)

In [22]:
branch_df2.head()

       Delhi          Mumbai
     package student package student
2019       1       2       0       0
2020       3       4       0       0
2021       5       6       0       0
2022       7       8       0       0

In [23]:
branch_df2.isnull()

       Delhi          Mumbai
     package student package student
2019   False   False   False   False
2020   False   False   False   False
2021   False   False   False   False
2022   False   False   False   False

In [27]:
branch_df2.loc[2019]

Delhi   package    1
        student    2
Mumbai  package    0
        student    0
Name: 2019, dtype: int64